!!! 5
%html
  %body
    %div.grid
      %div.grid-item
        %a(href="https://picrew.me/image_maker/104201")
          %img.grid-image(src="reifnir-shot3.png")
      %div.grid-item
        %a(href="https://picrew.me/image_maker/85779")
          %img.grid-image(src="reifnir-shot1.png")
      %div.grid-item
        %a(href="https://picrew.me/image_maker/29757")
          %img.grid-image(src="reifnir-shot2.png")
