!!! 5
%html
  %body
    %div.grid
      %div.grid-item
        %a(href="https://picrew.me/image_maker/64018")
          %img.grid-image(src="rayne-shot4.png")
      %div.grid-item
        %a(href="https://picrew.me/image_maker/13338")
          %img.grid-image(src="rayne-shot2.png")
      %div.grid-item
        %a(href="https://picrew.me/image_maker/74214")
          %img.grid-image(src="rayne-shot1.png")
      %div.grid-item
        %a(href="https://picrew.me/image_maker/58601")
          %img.grid-image(src="rayne-shot3.png")
